*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*
.vscode/*
**/__pycache__
python/*.csv
python/*.pem